Magic 271485
Revision Verdi_P-2019.06-SP2-12

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 451 257 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/user/project/lab_cpu/week06/03.32bit_ALU/sim/testbench.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 1111.000000
cursor 600.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 9

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "G1"
activeDirFile "" "/home/user/project/lab_cpu/week06/03.32bit_ALU/sim/testbench.fsdb"
addSignal -h 15 -2COMP -HEX /testbench/ALUControl[2:0]
addSignal -h 15 -2COMP -HEX -holdScope a_in[31:0]
addSignal -h 15 -2COMP -HEX -holdScope b_in[31:0]
addGroup "G2"
addSignal -h 15 /testbench/N
addSignal -h 15 -holdScope Z
addSignal -h 15 -holdScope C
addSignal -h 15 -holdScope V
addSignal -h 15 -UNSIGNED -HEX -holdScope result[31:0]
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

