Magic 271485
Revision Verdi_P-2019.06-SP2-12

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 25 1920 374 147 76

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/user/project/lab_cpu/week08_midterm/03.RV32I_Integrated_Test_your_own_TB/sim/func_sim/wave.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
; waveform viewport range
zoom 0.000000 2575.500000
cursor 200.000000
marker 530.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 14
; marker line index
markerPos 26

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "PC"
activeDirFile "" "/home/user/project/lab_cpu/week08_midterm/03.RV32I_Integrated_Test_your_own_TB/sim/func_sim/wave.fsdb"
addSignal -h 15 /cpu_tb/CPU/icpu/i_datapath/PC[31:0]
addSignal -h 15 -holdScope clk
addSignal -h 15 /cpu_tb/CPU/icpu/n_rst
addSubGroup "CONTROL"
addSignal -h 15 -UNSIGNED -BIN /cpu_tb/CPU/icpu/i_datapath/PCSrc[1:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope ResultSrc[1:0]
addSignal -h 15 /cpu_tb/CPU/icpu/MemWrite
addSignal -h 15 -UNSIGNED -BIN /cpu_tb/CPU/icpu/i_datapath/ALUSrcA[1:0]
addSignal -h 15 -holdScope ALUSrcB
addSignal -h 15 -UNSIGNED -BIN -holdScope ImmSrc[2:0]
addSignal -h 15 /cpu_tb/CPU/icpu/Branch
addSignal -h 15 /cpu_tb/CPU/icpu/i_datapath/RegWrite
endSubGroup "CONTROL"
addSubGroup "RS1, Imm"
endSubGroup "RS1, Imm"
addSignal -h 15 /cpu_tb/CPU/icpu/i_datapath/SrcA[31:0]
addSignal -h 15 -holdScope SrcB[31:0]
addSignal -h 15 -UNSIGNED -UDEC -holdScope ImmExt[31:0]
addSubGroup "Result"
addSignal -h 15 /cpu_tb/CPU/icpu/i_datapath/rf/wa[4:0]
addSignal -h 15 /cpu_tb/CPU/icpu/i_datapath/ALUResult[31:0]
addSignal -h 15 /cpu_tb/CPU/icpu/i_datapath/rf/wd[31:0]
endSubGroup "Result"
addSubGroup "ALU signal"
endSubGroup "ALU signal"
addSignal -h 15 -UNSIGNED -BIN /cpu_tb/CPU/icpu/u_controller/ALUop[1:0]
addSignal -h 15 -UNSIGNED -BIN -holdScope ALUControl[4:0]
addGroup "BE_LOGIC"
addSignal -h 15 -UNSIGNED -BIN /cpu_tb/CPU/icpu/i_datapath/u_be_logic/funct3[2:0]
addSignal -h 15 -holdScope addr_last2[1:0]
addSignal -h 15 -holdScope WD[31:0]
addSignal -h 15 -holdScope BE_WD[31:0]
addGroup "G6"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm

